# These are the Python (PyPI) packages required to *build* pyscannerbit, not to actually run it
# Used by the scripts that build the wheels. Standard packages not included (because they aren't on PyPI)
pathlib
